{% extends 'main/index.html' %}

{% block home %}
<a class="nav-link active" aria-current="page" href="{% url 'home' %}">Все идеи</a>
{% endblock %}

{% block create %}
<a class="nav-link" href="{% url 'create' %}">Подать идею</a>
{% endblock %}

{% block main %}
    <section class="content">
        <div class="row row-cols-1 g-3 ps-3">
            {% for elem in ideas %}
            <div class="col">
                <div class="card">
                    <div class="card-header text-truncate">
                        #{{ elem.id }} {{ elem.title }}
                        {% if elem.economic %}
                            <a class="rounded float-end"><i class="fa-solid fa-ruble-sign"></i></a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ elem.offer }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}