{% extends 'main/index.html' %}

{% block main %}
        <form method="post">
            <div class="pt-3 ps-4 pe-5">
                {% csrf_token %}<br>
                <label class="form-label">Наименование идеи</label>
                {{ form.title }}<br>
                <label class="form-label">Описание текущей ситуации (недостатки)</label>
                {{ form.description }}<br>
                <label class="form-label">Предложения по улучшению (описание инициативы)</label>
                {{ form.offer }}<br>
                <label class="form-label">Ожидаемый результат</label>
                {{ form.effect }}<br>

                <div class="form-check">
                  {{ form.economic }}
                  <label class="form-check-label">
                    Экономический эффект
                  </label>
                </div>
                <span>{{ error }}</span>
                <div class="pt-3">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </form>
{% endblock %}