{% extends 'main/index.html' %}

{% block home %}
<a class="nav-link" href="{% url 'home' %}">Все идеи</a>
{% endblock %}

{% block create %}
<a class="nav-link active" aria-current="page" href="{% url 'create' %}">Подать идею</a>
{% endblock %}

{% block main %}
        <section class="content">
        <form method="post">
            <div class="pt-.5 ps-3">
                {% csrf_token %}
                <label class="form-label">Наименование идеи</label>
                {{ form.title }}<br>
                <label class="form-label">Описание текущей ситуации (недостатки)</label>
                {{ form.description }}<br>
                <label class="form-label">Предложения по улучшению (описание инициативы)</label>
                {{ form.offer }}<br>
                <label class="form-label">Ожидаемый результат</label>
                {{ form.effect }}<br>

                <div class="form-check">
                  {{ form.economic }}
                  <label class="form-check-label">
                    Экономический эффект
                  </label>
                </div>
                <span>{{ error }}</span>
                <div class="pt-3">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </form>
        </section>
{% endblock %}